SNOWFLAKE_ACCOUNT=<account id i.e. xyz.region>
SNOWFLAKE_USER=<your email address>
SNOWFLAKE_PASSWORD=<your snowflake password>
SNOWFLAKE_TRANSFORM_SCHEMA=scratch
SNOWFLAKE_TRANSFORM_ROLE=<your snowflake role>
SNOWFLAKE_WAREHOUSE=<a warehouse available from the transform role>
SNOWFLAKE_SCHEMA=<default schema to use>
SNOWFLAKE_ROLE=<the same as SNOWFLAKE_TRANSFORM_ROLE>

PERMISSION_BOT_USER=<username for permissions>
PERMISSION_BOT_PASSWORD=<password for permission users>
PERMISSION_BOT_ACCOUNT=<account id i.e. xyz.region>
PERMISSION_BOT_DATABASE=<database to use for updating permissions>
PERMISSION_BOT_ROLE=<role to use>
PERMISSION_BOT_WAREHOUSE=<warehouse to use for updating permissions>